# Ignorar variables de entorno y credenciales
*.env
.env

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar carpetas generadas por tus editores o herramientas (se crearán después)
/backend/target/
/backend/.metadata/
/frontend-web/node_modules/
/app-barbero/.dart_tool/